.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color-scheme: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;

}

/* .display-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.dsiplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;


}

.display-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1f1f1f;
    font-size: 16px;

}

.display-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;   
}

.display-right-price-old{
    color: #828282;
    text-decoration: line-through;
}

.display-right-price-new{
    color: red;
}

.display-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.display-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.display-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
} */
